@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video__list {
    padding: 0rem 1rem;
    @include tablet {
        padding: 0rem 2.25rem;
    }
    @include desktop {
        border-left: 1.5px solid $secondary-third;
    }

    &__title {
        color: $primary-third;
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1rem 0rem .5rem;
        @include tablet {
            font-size: .875rem;
            padding: 1rem 0rem 0rem;
        }
        @include desktop {
            padding-top: 1.5rem;
        }
    }

    & > ul {
        margin-bottom: 1rem;
        @include tablet {
            margin-bottom: 1.5rem;
        }
    }
}