@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video__card {
    list-style: none;

    &__link {
        color: $primary-first;
        text-decoration: none;
        display: flex;
        list-style: none;
        margin: .5rem 0rem;
        @include tablet {
            margin: 1.5rem 0rem;
        }   
    }

    &__image {
        width: 6.875rem;
        height: 4.0625rem;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 1rem;
    }

    &__content {
        width: 50%;
        font-size: .75rem;
        line-height: 1.125rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet {
            font-size: .8125rem;
            width: 12.1875rem;
        }
    }

    &__title {
        font-weight: 600;
        line-height: 1.125rem;
    }

    &__channel {
        font-weight: 400;
    }
}