$primary-first: #323232;
$primary-second: #0095ff;
$primary-third: #afafaf;
$primary-fourth: #ffffff;


$secondary-first: #000000;
$secondary-second: #0065ad; 
$secondary-third:#e1e1e1; 
$secondary-fourth: #fafafa;


$tablet-width: 768px;
$desktop-width: 1280px;