@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    padding: 1.5rem 1rem 1rem;
    text-align: center;
    @include tablet {
        padding: 1.5rem 2.25rem .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include desktop {
        padding: 1.5rem 8.75rem .5rem;
    }

    &__logo {
        background-color: white;
        width: 7.5rem;
        height: 1.5625rem;
        margin-bottom: 1rem;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include tablet {
            width: 60%;
            justify-content: space-between;
            gap: 1.5rem;
            flex-wrap: nowrap;
            width: 70%;
        }
        @include desktop {
            width: 50%;
        }
    }

    &__form {
        margin-bottom: 1rem;
        width: 80%;
        @include tablet {
            width: 65%;
        }
    }

    &__input {
        background-image: url(../../assets/images/Icons/search.svg);
        background-repeat: no-repeat;
        height: 2.25rem;
        background-position-x: 4%;
        background-position-y: center;
        background-size: 1rem;
        background-color: $secondary-fourth;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $secondary-third;
        padding: .75rem;
        padding-left: 1.5rem;
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 400;
        @include tablet {
            height: 2.5rem;
            padding: 1rem;
            font-size: .875rem;
        }
        &::placeholder {
            color: $primary-first;
            padding-left: 1.25rem;
        }
    }

    &__mohanmuruge {
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: 30%;
        gap: 1rem;
        @include tablet {
        order: 3;
        }
    }

    &__upload__btn {
        background-image: url(../../assets/images/Icons/upload.svg);
        background-repeat: no-repeat;
        background-position-x: 4%;
        background-position-y: center;
        background-size: 1rem;
        background-color: $primary-second;
        border-radius: 4px;
        padding: 0rem 2rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-fourth;
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        &:hover {
            background-color: $secondary-second;
            cursor: pointer;
        } 
        @include tablet {
            background-size: 1.125rem;
            font-size: .875rem;
            width: 35%;
        }
        
    }   
}